<div class="container">
  <div class="card-group">
    <div class="card">

      <div class="card-body">
        <div>
          <h3 class="card-title">Educacion <a href="#" class="icon3" *ngIf="isLogged"><i class="fa fa-plus"
                (click)="openModal2(templateed)"></i></a>
          </h3>
        </div>

        <h4 class="example-h2"></h4>

        <ul class="items-list educacion" class=" row">
          <li *ngFor="let edu of edu">
            <div class="col-2 m-4">
           <img class="img-fluid"[src]="edu.link"></div>
           <div class="col-10">

            <p>{{edu.institucion}}</p>
            <p>{{edu.titulo }}</p>
            {{ edu.fecha }}</div>

            <a href="#" class="icon3"><i class="fa fa-pencil"*ngIf="isLogged" (click)="openModal(template)"></i></a>
            <a href="#" class="icon4"><i class="fa fa-trash"*ngIf="isLogged" (click)="openModal1(template1)"></i></a>


            <ng-template #template>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Editar Educacion</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  <input type="hidden" class="form-control"  name="id" [(ngModel)]="edu.id" />
                  <input type="text" class="form-control"placeholder="Institucion{{edu.institucion}}" name="institucion" [(ngModel)]="edu.institucion" />
                  <input type="text" class="form-control" placeholder="Logo{{edu.link}}"name="link" [(ngModel)]="edu.link" />
                  <input type="text" class="form-control"placeholder="Fecha{{edu.fecha}}" name="fecha" [(ngModel)]="edu.fecha" />
                  <input type="text" class="form-control" placeholder="Titulo{{edu.titulo}}"name="titulo" [(ngModel)]="edu.titulo" />
                  <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="edu.persona_id" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                  <button type="button" class="btn btn-primary" (click)="editarEdu(edu)">Guardar</button>
                </div>
              </form>
            </ng-template>



            <ng-template #template1>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Eliminar Educacion</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  Esta seguro quiere borrar este registro?
                  <input type="hidden" class="form-control" name="id" [(ngModel)]="edu.id" />
                  <input type="text" class="form-control" name="institucion" [(ngModel)]="edu.institucion" />
                  <input type="text" class="form-control" name="link" [(ngModel)]="edu.link" />
                  <input type="text" class="form-control" name="fecha" [(ngModel)]="edu.fecha" />
                  <input type="text" class="form-control" name="titulo" [(ngModel)]="edu.titulo" />
                  <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="edu.persona_id" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                  <button type="button" class="btn btn-primary" (click)="deleteEdu(edu)">Borrar</button>
                </div>
              </form>
            </ng-template>

            <!-- Modal -->
          </li>
        </ul>

        <!--
             <p id="imgstec"class="card-text">
                 <img src="../assets/imgs/heroku_logo.png" alt="logo" class="tecno">
                 <img id="uno" src="../assets/imgs/git.png" alt="logo" class="tecno">
         <img src="../assets/imgs/codepen.png" alt="logo" class="tecno">
         <img src="../assets/imgs/stackblitz.png" alt="logo" class="tecno">
         


             </p>
            -->
        <p class="card-text"><small class="text-muted"></small></p>
        <ng-template #templateed>
          <form>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Agregar Educacion</h4>
              <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true"></span>
              </i>
            </div>
            <div class="modal-body">
              <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
              <input type="text" class="form-control" placeholder="Institucion" name="institucion"
                [(ngModel)]="institucion" />
              <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link" />
              <input type="text" class="form-control" placeholder="Fecha" name="fecha" [(ngModel)]="fecha" />
              <input type="text" class="form-control" placeholder="Titulo" name="titulo" [(ngModel)]="titulo" />
              <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="agregarEdu()">Guardar</button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
<!--------------------------------------Experiencia----------------------------->
    <div class="card">
      <div class="card-body">
        <div>
          <h3 class="card-title">Experiencia <a href="#" class="icon3"*ngIf="isLogged"><i class="fa fa-plus"
                (click)="penModaexp(templateexp)"></i></a>
          </h3>
        </div>

        <h4 class="example-h2"></h4>
        <ul class="experiencia" class="row" >

          <li *ngFor="let exp of exp">
            <div class="col-2 m-4">
           <img class="img-fluid"[src]="exp.link"></div>
           <div class="col-10">

            <p>{{exp.puesto}}</p>
            <p>{{ exp.empresa }}</p>
            {{exp.fecha}}-{{exp.fechaHasta}}</div>

            <a href="#" class="icon3"><i class="fa fa-pencil"*ngIf="isLogged" (click)="openModal(template)"></i></a>
            <a href="#" class="icon4"><i class="fa fa-trash"*ngIf="isLogged" (click)="openModal1(template1)"></i></a>
            <ng-template #template>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Editar Experiencia</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" [(ngModel)]="exp.id" />
                  <input type="text" class="form-control" placeholder="Empresa{{exp.empresa}}" name="empresa" [(ngModel)]="exp.empresa" />
                  <input type="text" class="form-control" name="link"placeholder="Logo{{exp.link}}" [(ngModel)]="exp.link" />
                  <input type="text" class="form-control" name="fecha" placeholder="Fecha{{exp.fecha}}"[(ngModel)]="exp.fecha" />
                  <input type="text" class="form-control" name="fechaHasta"placeholder="Fecha Hasta{{exp.fechaHasta}}" [(ngModel)]="exp.fechaHasta" />

                  <input type="text" class="form-control" name="puesto" [(ngModel)]="exp.puesto" />
                  <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="exp.persona_id" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                  <button type="button" class="btn btn-primary" (click)="editarExp(exp)">Guardar</button>
                </div>
              </form>
            </ng-template>



            <ng-template #template1>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Eliminar Experiencia</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  Esta seguro quiere borrar este registro?
                  <input type="hidden" class="form-control" name="id" [(ngModel)]="exp.id" />
                  <input type="text" class="form-control" name="institucion" [(ngModel)]="exp.empresa" />
                  <input type="text" class="form-control" name="link" [(ngModel)]="exp.link" />
                  <input type="text" class="form-control" name="fecha" [(ngModel)]="exp.fecha" />
                  <input type="tet" class="form-control" name="fecha" [(ngModel)]="exp.fechaHasta" />
                  <input type="text" class="form-control" name="titulo" [(ngModel)]="exp.puesto" />
                  <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="exp.persona_id" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                  <button type="button" class="btn btn-primary" (click)="deleteExp(exp)">Borrar</button>
                </div>
              </form>
            </ng-template>


          </li>
        </ul>

        <ng-template #templateexp>
          <form>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Agregar Experiencia</h4>
              <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true"></span>
              </i>
            </div>
            <div class="modal-body">
              <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
              <input type="text" class="form-control" placeholder="Empresa" name="empresa"
                [(ngModel)]="empresa" />
              <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link" />
              <input type="text" class="form-control" placeholder="Fecha" name="fecha" [(ngModel)]="fecha" />
              <input type="text" class="form-control" placeholder="Fecha Hasta" name="fechaHasta" [(ngModel)]="fechaHasta" />
              <input type="text" class="form-control" placeholder="Puesto" name="puesto" [(ngModel)]="puesto" />
              <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="agregarExp()">Guardar</button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
    <!-- Modal -->


    
  </div>

  <footer>
    <div id="footer1"></div>
    <div id="footer2"></div>
  </footer>

</div>
