<div class="container">
<div class="card-group">
    <div class="card">
    <div class="card-body">
    <h3 class="card-title">Educacion<a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
        <a href="#" class="icon4"><i class="fa fa-trash"></i></a></h3>
    <p class="card-text"id="edu">
        <!--<div class="row">-->
        <div class="logouni"><img src="../assets/imgs/Logo-USAL.jpg" alt="" class="logouni"></div>
        <div class>
        <p class="card-text"><small class="text-muted"id="edu1">Lic en Turismo<br>1991-1995</small></p>
        <div class>
        <div class="logoargp"><img src="../assets/imgs/IMG-20211216-WA0013.jpg" alt="" class="logoargp"></div></div>

      
         <p class="card-text"><small class="text-muted"id="edu2">Full web stack jr.<br>2021-2022</small></p></div></div>
        </div>
    
    


    <div class="card">
    <div class="card">
    <div class="card-body">
    <h3 class="card-title">Experiencia<a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
    <a href="#" class="icon4"><i class="fa fa-trash"></i></a></h3>
    <p class="card-text">
        </p>
    <p class="card-text"><small class="text-muted"><ul class="list">
        <li>Desarrollo web 2021-2022
        </li>
        <li>Administrativa contable 
        2000- actualidad</li>
        <li>Secretaria Ejecutiva
        1997-2000</li>
        </ul>
</small></p>
</div>
</div>
</div>
</div>

<footer>
    <div id="footer1">
    </div>
    <div id="footer2">
    </div>
</footer>
</div>



