<div class="container">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Proyectos</h3>
        <div><a href="#" class="icon3"><i class="fa fa-plus" (click)="openModal(templateed)"></i></a>
        </div>




        <h4 class="example-h2"></h4>
        <ul class="proyectos" *ngFor="let proy of proy">{{proy.texto}}
          <li>{{proy.link}}

            <a href="#" class="icon3"><i class="fa fa-pencil" (click)="openModal(template)"></i></a>
            <a href="#" class="icon4"><i class="fa fa-trash" (click)="openModal(template)"></i></a>
            <ng-template #template>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Editar Proyecto</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="id" [(ngModel)]="proy.id" />
                  <input type="text" class="form-control" placeholder="Fecha{{proy.date}}" name="date" [(ngModel)]="proy.date" />
                  <input type="text" class="form-control" name="link"placeholder="Logo{{proy.link}}" [(ngModel)]="proy.link" />
                  <input type="text" class="form-control" name="text" placeholder="Proyecto{{proy.texto}}"[(ngModel)]="proy.texto" />
                                <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="proy.persona_id" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                  <button type="button" class="btn btn-primary" (click)="editarProy(proy)">Guardar</button>
                </div>
              </form>
            </ng-template>



            <ng-template #template>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Eliminar Proyecto</h4>
                  <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true"></span>
                  </i>
                </div>
                <div class="modal-body">
                  Esta seguro quiere borrar este registro?
                  <input type="hidden" class="form-control" name="id" [(ngModel)]="proy.id" />
                  <input type="text" class="form-control" name="institucion" [(ngModel)]="proy.date" />
                  <input type="text" class="form-control" name="link" [(ngModel)]="proy.link" />
                  <input type="text" class="form-control" name="fecha" [(ngModel)]="proy.texto" />
                  <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="proy.persona_id" />
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                  <button type="button" class="btn btn-primary" (click)="deleteProy(proy)">Borrar</button>
                </div>
              </form>
            </ng-template>


          </li>
        </ul>

        <!--
               <p id="imgstec"class="card-text">
                   <img src="../assets/imgs/heroku_logo.png" alt="logo" class="tecno">
                   <img id="uno" src="../assets/imgs/git.png" alt="logo" class="tecno">
           <img src="../assets/imgs/codepen.png" alt="logo" class="tecno">
           <img src="../assets/imgs/stackblitz.png" alt="logo" class="tecno">
           


               </p>
              -->
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
      <ng-template #templateed>
        <form>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Agregar Proyecto</h4>
            <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true"></span>
            </i>
          </div>
          <div class="modal-body">
            <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
            <input type="text" class="form-control" placeholder="Fecha" name="date"
              [(ngModel)]="date" />
            <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link" />
            <input type="text" class="form-control" placeholder="Proyecto" name="texto" [(ngModel)]="texto" />
             <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
            <button type="button" class="btn btn-primary" (click)="agregarProy()">Guardar</button>
          </div>
        </form>
      </ng-template>

    </div>



    <div class="card">
      <div class="card-body">
        <div>
        <h3 class="card-title">Hard Skills <a href="#" class="icon3"><i class="fa fa-plus" (click)="openModal(templateed)"></i></a></h3>
        </div>
        <div class="s">
          <h4 class="example-h2"></h4>              

          <ul class="skills" >
            <li *ngFor="let skill of skill">
              <circle-progress
               [percent]="skill.value"
               [title]="skill.value" 
               [subtitle]="skill.texto"
               [radius]="35"
               [outerStrokeWidth]="13"
                [innerStrokeWidth]="13" 
                [outerStrokeColor]="'#0EA9D6'" 
                [innerStrokeColor]="'#adb5bd'" 
                [animation]="true"
                [animationDuration]="400" 
                [lazy]="false" 
                ></circle-progress>
                <div>
                  <a href="#" class="icon3 sk1"><i class="fa fa-pencil" (click)="openModal(template)"></i></a>
                <a href="#" class="icon4 sk1"><i class="fa fa-trash" (click)="openModal(template)"></i></a>
                </div>
              
      
                <ng-template #template>
                  <form>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">Editar Skills</h4>
                      <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true"></span>
                      </i>
                    </div>
                    <div class="modal-body">
                      <input type="hidden" class="form-control" name="id" [(ngModel)]="skill.id" />
                      <input type="text" class="form-control" placeholder="Titulo{{skill.texto}}" name="date" [(ngModel)]="skill.texto" />
                      <input type="text" class="form-control" name="link"placeholder="Logo{{skill.value}}" [(ngModel)]="skill.value" />
                       <input type="hidden" class="form-control" name="persona_id"[(ngModel)]="skill.persona_id" />
                    </div>
        
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                      <button type="button" class="btn btn-primary" (click)="editarSkill(skill)">Guardar</button>
                    </div>
                  </form>
                </ng-template>
        
        
        
                <ng-template #template>
                  <form>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">Eliminar Skill</h4>
                      <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                        <span aria-hidden="true"></span>
                      </i>
                    </div>
                    <div class="modal-body">
                      Esta seguro quiere borrar este registro?
                      <input type="hidden" class="form-control" name="id" [(ngModel)]="skill.id" />
                      <input type="text" class="form-control" name="institucion" [(ngModel)]="skill.texto" />
                      <input type="text" class="form-control" name="link" [(ngModel)]="skill.value" />
                      <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="skill.persona_id" />
                    </div>
        
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
                      <button type="button" class="btn btn-primary" (click)="deleteSkill(skill)">Borrar</button>
                    </div>
                  </form>
                </ng-template>
        
        
                
            </li>
          </ul>
        </div>
        
          <!--<ul class="skills" *ngFor="let skill of skill">
          <div>
            <li><p>{{skill.texto}}</p>
              <p>{{skill.value}}</p>
              <div>
                <mat-progress-spinner class="example-margin" [color]="color" diameter=45 [mode]="mode"
                  [value]="skill.value"[title]="skill.texto">
                </mat-progress-spinner>
              </div>
            </li>
          </div>
        </ul>-->
                 <!-- Modal -->



        <ng-template #templateed>
          <form>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Agregar Skill</h4>
              <i class="fa fa-times close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true"></span>
              </i>
            </div>
            <div class="modal-body">
              <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
              <input type="text" class="form-control" placeholder="Fecha" name="date"
                [(ngModel)]="date" />
              <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link" />
              <input type="text" class="form-control" placeholder="Proyecto" name="texto" [(ngModel)]="texto" />
               <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
              <button type="button" class="btn btn-primary" (click)="agregarSkill()">Guardar</button>
            </div>
          </form>
        </ng-template>
  


               <!-- Modal -->




      </div>
    </div>

  </div>






  <!-- <a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
            <a href="#"class="icon4"><i class="fa fa-trash"></i></a>
        <p id="imgstec2"class="card-text">
            
            
            <img id="dos" src="../assets/imgs/html5.png" alt="logo" class="tecno">
          
  
  
            <img src="../assets/imgs/download.png" alt="logo" class="tecno">
           
            <img src="../assets/imgs/mysql.jpg" alt="logo" class="tecno">
           
            <img src="../assets/imgs/angular.png" alt="logo" class="tecno">
            
            <img src="../assets/imgs/java.png" alt="logo" class="tecno">
            <img id="sp" src="../assets/imgs/springboot.png" alt="logo" class="tecno">
           
            
            
        
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>-->