<div class="container">
    <div class="card-group">
        <div class="card">
     <div class="card-body">
        <h3 class="card-title">Hard Skills<a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
            <a href="#"class="icon4"><i class="fa fa-trash"></i></a></h3>
        <p id="imgstec2"class="card-text">
            
            
            <img id="dos" src="../assets/imgs/html5.png" alt="logo" class="tecno">
            <img src="../assets/imgs/download.png" alt="logo" class="tecno">
           
            <img src="../assets/imgs/mysql.jpg" alt="logo" class="tecno">
           
            <img src="../assets/imgs/angular.png" alt="logo" class="tecno">
            
            <img src="../assets/imgs/java.png" alt="logo" class="tecno">
            <img id="sp" src="../assets/imgs/springboot.png" alt="logo" class="tecno">
           
            
            
        </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>

    
    

            
                <div class="card">
             <div class="card-body">
                <h3 class="card-title">Proyectos<a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="icon4"><i class="fa fa-trash"></i></a></h3>
                <p id="imgstec"class="card-text">
                    <img src="../assets/imgs/heroku_logo.png" alt="logo" class="tecno">
                    <img id="uno" src="../assets/imgs/git.png" alt="logo" class="tecno">
            <img src="../assets/imgs/codepen.png" alt="logo" class="tecno">
            <img src="../assets/imgs/stackblitz.png" alt="logo" class="tecno">
            


                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            
    </div>

</div>
