<div class="container">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Proyectos</h3>
        <div><a href="#" class="icon3"><i class="fa fa-plus" data-toggle="modal" data-target="#agregapro"></i></a>
        </div>




        <h4 class="example-h2"></h4>
        <ul class="proyectos" *ngFor="let proy of proy">{{proy.texto}}
          <li>{{proy.link}}

            <a href="#" class="icon3"><i class="fa fa-pencil" data-toggle="modal" data-target="#editapro"></i></a>
            <a href="#" class="icon4"><i class="fa fa-trash" data-toggle="modal" data-target="#borrapro"></i></a>
          </li>
        </ul>

        <!--
               <p id="imgstec"class="card-text">
                   <img src="../assets/imgs/heroku_logo.png" alt="logo" class="tecno">
                   <img id="uno" src="../assets/imgs/git.png" alt="logo" class="tecno">
           <img src="../assets/imgs/codepen.png" alt="logo" class="tecno">
           <img src="../assets/imgs/stackblitz.png" alt="logo" class="tecno">
           


               </p>
              -->
        <p class="card-text"><small class="text-muted"></small></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="agregapro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Agregar Proyecto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
              <input type="text" class="form-control" name="fecha" placeholder="Fecha" [(ngModel)]="date" />
              <input type="text" class="form-control" name="link" placeholder="Link" [(ngModel)]="link" />
              <input type="text" class="form-control" name="texto" placeholder="Text" [(ngModel)]="texto" />

              <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->

      <!-- Modal -->
      <div class="modal fade" id="editapro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Editar Proyecto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->

      <!-- Modal -->
      <div class="modal fade" id="borrapro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Proyecto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Esta seguro de borrar este registro? </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->

    </div>



    <div class="card">
      <div class="card-body">
        <div>
        <h3 class="card-title">Hard Skills <a href="#" class="icon3"><i class="fa fa-plus" data-toggle="modal" data-target="#agrega"></i></a></h3>
        </div>
        <div class="s">
          <h4 class="example-h2"></h4>              

          <ul class="skills" >
            <li *ngFor="let skill of skill">
              <circle-progress
               [percent]="skill.value"
               [title]="skill.texto" 
               [subtitle]="skill.value"
               [radius]="35"
               [outerStrokeWidth]="13"
                [innerStrokeWidth]="13" 
                [outerStrokeColor]="'#0EA9D6'" 
                [innerStrokeColor]="'#adb5bd'" 
                [animation]="true"
                [animationDuration]="400" 
                [lazy]="false" 
                ></circle-progress>
                
            </li>
          </ul>
        </div>

          <!--<ul class="skills" *ngFor="let skill of skill">
          <div>
            <li><p>{{skill.texto}}</p>
              <p>{{skill.value}}</p>
              <div>
                <mat-progress-spinner class="example-margin" [color]="color" diameter=45 [mode]="mode"
                  [value]="skill.value"[title]="skill.texto">
                </mat-progress-spinner>
              </div>
            </li>
          </div>
        </ul>-->
          <div>
            <a href="#" class="icon3 sk1"><i class="fa fa-pencil" data-toggle="modal"
              data-target="#exampleModalCenter"></i></a>
          <a href="#" class="icon4 sk1"><i class="fa fa-trash" data-toggle="modal" data-target="#Delete"></i></a>
          </div>
        
        <!-- Modal -->
        <div class="modal fade" id="agrega" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
                <input type="text" class="form-control" name="titulo" placeholder="Habilidad" [(ngModel)]="texto" />
                <input type="text" class="form-control" name="value" placeholder="Progreso" [(ngModel)]="value" />
                <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type="hidden" class="form-control" name="id" [(ngModel)]="id" />
                <input type="text" class="form-control" name="titulo" placeholder="Habilidad" [(ngModel)]="texto" />
                <input type="text" class="form-control" name="value" placeholder="Progreso" [(ngModel)]="value" />
                <input type="hidden" class="form-control" name="persona_id" [(ngModel)]="persona_id" />

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

        <!-- Modal -->
        <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Quiere eliminar este registro?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->




      </div>
    </div>

  </div>






  <!-- <a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
            <a href="#"class="icon4"><i class="fa fa-trash"></i></a>
        <p id="imgstec2"class="card-text">
            
            
            <img id="dos" src="../assets/imgs/html5.png" alt="logo" class="tecno">
          
  
  
            <img src="../assets/imgs/download.png" alt="logo" class="tecno">
           
            <img src="../assets/imgs/mysql.jpg" alt="logo" class="tecno">
           
            <img src="../assets/imgs/angular.png" alt="logo" class="tecno">
            
            <img src="../assets/imgs/java.png" alt="logo" class="tecno">
            <img id="sp" src="../assets/imgs/springboot.png" alt="logo" class="tecno">
           
            
            
        
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>-->