.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  
  height: 20px;
}

.example-margin {
  margin: 0 10px;
}
mat-progress-spinner{
  size:1rem;
  display: flex;

}
.skills{
  list-style: none;
  
}
.s{
display:flex;
flex-wrap:wrap;
justify-self: stretch;
justify-content: space-between;
}
.sk1{
justify-self: right;
}

.card-body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}