

  <div class="container">
       
    <div class="header">
        <div class="header_left">
            <img id="logoarg"src="../assets/imgs/IMG-20211216-WA0013.jpg">
          </div>
            
          <div class="header_right">   
                <a href="#" id="sns1">  <i class="fa fa-file-pdf-o"></i></a> 
                <a href="https://github.com/Anacoronel/" id="sns2"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/anacoronel" id="sns"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/ana-coronel-90b0901b9/" id="sns3"><i class="fa fa-linkedin"></i></a>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="sign-out">Sign out</button>
            </div>
    </div>
  
    <div class="jumbotron text-white jumbotron-image shadow" 
        style="background-image: url(../assets/imgs/pexels-photo-949587.jpeg);">
        <h2  id="nombre">
            <br><br>Ana Coronel
        </h2>
        </div>
        <div>
        <img class="fotodeperfil" src="https://pbs.twimg.com/profile_images/1382785431436193796/RYIvzD5X_400x400.jpg" alt="fotoperfil">
        <p class="info" id="info1">  
             Full web stack Argentina Programa</p>  
         <p class="info">
                Ciudad de Buenos Aires</p>
         <p class="info">
            Argentina <a href="#"id="icon1"><i class="fa fa-pencil"></i></a> <br>
          <a id="mail"href="mailto:anacoronel@hotmail.com">Mail contacto</a>
                    
            </p>
         
    </div>


    
    <div class="agrego">
    <div><a href="#" id="agregar"><i class="fa fa-plus"></i></a></div>
    </div>
  </div>