

  <div class="container">
       
    <div class="header">
        <div class="header_left">
            <img id="logoarg"src="../assets/imgs/IMG-20211216-WA0013.jpg">
          </div>
            
          <div class="header_right">   
                <a href="#" id="sns1">  <i class="fa fa-file-pdf-o"></i></a> 
                <a href="https://github.com/Anacoronel/" id="sns2"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/anacoronel" id="sns"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/ana-coronel-90b0901b9/" id="sns3"><i class="fa fa-linkedin"></i></a>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="sign-out">Sign out</button>
            </div>
    </div>
  
    <div class="jumbotron text-white jumbotron-image shadow" 
        style="background-image: url(../assets/imgs/pexels-photo-949587.jpeg);">
        <h2  id="nombre">{{nombre}}
            <br><br>
        </h2>
        </div>
        <div>
        <img class="fotodeperfil" src="https://pbs.twimg.com/profile_images/1382785431436193796/RYIvzD5X_400x400.jpg" [src]="fotoperfil" alt="fotoperfil">
        <p class="info" id="info1"> {{descripcion}}
            </p>  
         <p class="info">
                {{ubicacion.ciudad}}</p>
         <p class="info">
            {{ubicacion.pais}} <a href="#"id="icon1"><i class="fa fa-pencil"data-toggle="modal" data-target="#editapersona"></i></a> <br>
          <a id="mail"href={{mail}}></a>
                    
            </p>

            <!-- Modal -->
<div class="modal fade" id="editapersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Datos Personales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre"
                        [(ngModel)]="nombre">
        <input type="text"class="form-control" name="ciudad" placeholder="Ciudad" size="50" [(ngModel)]="ciudad">
        <input type="text" class="form-control" name="pais" placeholder="Pais" size="50" [(ngModel)]="pais">
        <input type="text"  class="form-control"name="email" placeholder="email" size="50" [(ngModel)]="mail">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

         
    </div>


    <!--
    <div class="agrego">
    <div><a href="#" id="agregar"><i class="fa fa-plus"></i></a></div>
    </div>-->
  </div>