
<div class="container">
<div class="card-group">

        <div class="card">
      <div class="card-body">
        <h3 class="card-title">Acerca de mi <a href="#"class="icon3"><i class="fa fa-pencil"></i></a>
            <a href="#"class="icon4"><i class="fa fa-trash"></i></a></h3>
        <p class="text-muted"><small class="text-muted center">Emprendedora. Autodidacta. Siempre dispuesta a superar desafios. Busco resolver problemas y aprender cosas nuevas. Soy paciente, flexible y me gusta compartir lo que se con quienes me rodean.</small>  </p>
        <p class="card-text"></p>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Idiomas<a href="#" class="icon3"><i class="fa fa-pencil"></i></a>
                <a href="#" class="icon4"><i class="fa fa-trash"></i></a></h3>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">
                    <p>Ingles B2/C1 </p>
                    <p>Portugues. Frances. Aleman. Nivel A1/A2</p>
                </small></p>
        </div>
    </div>
</div>
</div>
